# Node
node_modules/
.env
*.log
npm-debug.log*

# Firebase
.firebase/
firebase-debug.log

# Expo / React Native
.expo/
.expo-shared/
*.expo
*.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/metadata/android/*
fastlane/metadata/ios/*
*.cer
*.mobileprovision
*.p8
*.p12
*.key

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
